Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: mozmeao-fr/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)

bedrock-dev: set image to mozmeao/bedrock:0abbb25d4a5cc944620b25ad44ed4400391f2e41 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:30386612d435afc947d08d750e454e38fd56ff59 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:cfad8e587868e411ff7093a3e7c0a93d881e1268 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:c3ccf173f0882c9334b49b5d19930dfd93c47ef7 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:c361610bd1685f78eb19f596bde943480a89bdb4 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:85c46ba10c5712ac1ce7cf349f891956840a5c74 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:83da2f00b27d8b55158b040f7c60c29dcfdae669 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:bdf695fb79e80d79d57680fefe1d8f41762ef67a in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:63a428b933d0df1880c9d08494d0b121750bc37d in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:9ebb20597694c6f63546fa4bb2052be3f03e2990 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:9ebb20597694c6f63546fa4bb2052be3f03e2990 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:9ebb20597694c6f63546fa4bb2052be3f03e2990 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:b04fad9465675b55e6952bb8077bfdf095425103 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:7690d95755f8387fd480d159a6eb320a2d1fac75 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:6d00a9548e2a495c25d8b73d2041ec4eeea5ff4e in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:94d25d032e0b4287fe5f03be089394060ec1a5f7 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:7cb90101af5236590575ee7a8a230b9000401989 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:b404791ed5a67137878fc0680deabfb7bd3ae0a9 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:446d44185f9e087497360ff56b78f30f69d33129 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:849e2f9618a20b83f5e1811ba3dc7ebf58dbc430 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:4331d16df1ebcccbfe16ce8714a555ae678ea9d2 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:4e2eb3803fa5ff18884af5e37074c1ff95acd173 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:2f22eb9d6bcaf985456e290bc147b7156fb118d9 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:3c893e78a07b94c2e05c3255c9cebb99abc84018 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:99e28322fd8c2e7a5b43083726f63d3bf4c354ae in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:82aef1a50ba6066c50ff872547a9024d1e7d1038 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:25123a294a45c4632c6316d93edc8be73f4f6733 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:f7218999defae2dc6b874ae54d47f201fefe74af in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:f7218999defae2dc6b874ae54d47f201fefe74af in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:f7218999defae2dc6b874ae54d47f201fefe74af in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Activate experiment on WNP99
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

Activate experiment on WNP99 (#444)
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-test: set image to mozmeao/bedrock:4e2eb3803fa5ff18884af5e37074c1ff95acd173 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:f4925f9a16037fad91b37d1122d7cf91399c09ae in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:e7f6f178aad51b0680c881cdd8195167c9492a1d in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:42a3bd14a464102a7665df21f04dc117a35254e6 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:99dbee15fafcf57869b11f86f7f9329f8a977f6b in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:c86e3a323e18a2ec366a05ad2609ae2666cd6ecd in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:ea614e3e239f08e8136e048cb12d8d9bfed5b1bf in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:11669cbb0790652af4dce89150e9f20b68b33c65 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa
