Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: mozmeao-fr/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)

bedrock-stage: set image to mozmeao/bedrock:24be6f7eafac8d8df4909e780fd9e0171df12d25 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:24be6f7eafac8d8df4909e780fd9e0171df12d25 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:be9d20dc3c46fe1a85856298229accef435b5a31 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:519ab1051ffb3dbd096424e75099a22c7b61970b in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:28251821ee86478e73cb63b54696c74bc75a2362 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:28251821ee86478e73cb63b54696c74bc75a2362 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:28251821ee86478e73cb63b54696c74bc75a2362 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:23403529e5c9306db24fd70428d93253e80fdbc7 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:23403529e5c9306db24fd70428d93253e80fdbc7 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:23403529e5c9306db24fd70428d93253e80fdbc7 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:c0f1edb13716570a8422627facc653f728fd783c in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

Activate Giving Tuesday 2022 fundraising banner
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:99cce651fa0be203260bc643c57be29aebde4214 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:ba15cb0bfede361ae7597cfd2d3bac8fc0262e3b in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:3bdde71ac2b34593cc4648c7ea8686eab25c517f in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:673da9818d76617917fda62bec26224cc6f6cef5 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:673da9818d76617917fda62bec26224cc6f6cef5 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:673da9818d76617917fda62bec26224cc6f6cef5 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:15cc456bd7dafc22a4f62b3dc4294a18f6d51c82 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:fc636d11cf3047e290b88f4bea10ba2c884994d3 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:0fc390a8c9a3f1056f00519cb51376822ae62b62 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:e51c7105d453934e8f1eed88f8ac2a6836a16d19 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:f69ea016b24d5ecfe258ff5f51eab453b8d911f5 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:5101ee9f7588924d9fa0b5bc98bfda559680b696 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

Disable fundraising banner in prod
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:83cf49179c4d2023a501f172c6bcd26c1c7d1ef8 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:7eb9a619930b22b98cd086ccca5a004d767d401a in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:30aded18640f67e417ccd077914a77c89e8ad8f6 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:c0f0049a3b45fccf54026e42eff7c1d86d26e31c in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:f86edf911e131fed64d9b1b208d5a9a8a746aad1 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:f86edf911e131fed64d9b1b208d5a9a8a746aad1 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:f86edf911e131fed64d9b1b208d5a9a8a746aad1 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Activate fundraising banner for Giving Tuesday 2022
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:3eaca1563a96d282b5dcd912bfe256e3fffd7d80 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

Activate Pocket Best of 2022 home promo
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:609cf81a14bdc26c2647fb2530ee8bd4c23dbd5c in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:4316880f6c191836f2712cebfa7656a8ad4f8489 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:e269c8f98cf45986181ecd3225a08618f4cde8f8 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:8edbcfeaf9daff6c6c92ea631dad3b60477e0ea1 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa
