Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-dev-iowa, dev-iowa-tests, dev-tests, deploy-test-iowa, test-iowa-tests, test-tests, deploy-stage-iowa, stage-iowa-tests, stage-tests, deploy-prod-iowa, deploy-prod-frankfurt, prod-iowa-tests, prod-frankfurt-tests, prod-tests, test-download-remote

deploy-dev-iowa:
  tags:
  - iowa-c
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    ENVIRONMENT_URL: https://www-dev.allizom.org
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev

dev-iowa-tests:
  variables:
    ENVIRONMENT_URL: https://www-dev.allizom.org
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
  trigger:
    include: .gitlab/deployment_tests.yml

dev-tests:
  variables:
    ENVIRONMENT_URL: https://www-dev.allizom.org
  trigger:
    include: .gitlab/environment_tests.yml

deploy-test-iowa:
  tags:
  - iowa-c
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    ENVIRONMENT_URL: https://bedrock-test.gcp.moz.works
    BASE_URL: https://bedrock-test.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-test

test-iowa-tests:
  variables:
    ENVIRONMENT_URL: https://bedrock-test.gcp.moz.works
    BASE_URL: https://bedrock-test.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-test
  trigger:
    include: .gitlab/deployment_tests.yml

test-tests:
  variables:
    ENVIRONMENT_URL: https://bedrock-test.gcp.moz.works
  trigger:
    include: .gitlab/environment_tests.yml

deploy-stage-iowa:
  tags:
  - iowa-c
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    ENVIRONMENT_URL: https://www.allizom.org
    BASE_URL: https://bedrock-stage.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-stage

stage-iowa-tests:
  variables:
    ENVIRONMENT_URL: https://www.allizom.org
    BASE_URL: https://bedrock-stage.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-stage
  trigger:
    include: .gitlab/deployment_tests.yml

stage-tests:
  variables:
    ENVIRONMENT_URL: https://www.allizom.org
  trigger:
    include: .gitlab/environment_tests.yml

deploy-prod-iowa:
  tags:
  - iowa-c
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    NS: bedrock-prod
    ENVIRONMENT_URL: https://www.mozilla.org
    BASE_URL: https://bedrock-prod.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-prod

deploy-prod-frankfurt:
  tags:
  - aws
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
    NS: bedrock-prod
    ENVIRONMENT_URL: https://www.mozilla.org
    BASE_URL: https://bedrock.prod.fr.moz.works
    DEPLOYMENT: mozmeao-fr/bedrock-prod

prod-iowa-tests:
  variables:
    NS: bedrock-prod
    ENVIRONMENT_URL: https://www.mozilla.org
    BASE_URL: https://bedrock-prod.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-prod
  trigger:
    include: .gitlab/deployment_tests.yml

prod-frankfurt-tests:
  variables:
    NS: bedrock-prod
    ENVIRONMENT_URL: https://www.mozilla.org
    BASE_URL: https://bedrock.prod.fr.moz.works
    DEPLOYMENT: mozmeao-fr/bedrock-prod
  trigger:
    include: .gitlab/deployment_tests.yml

prod-tests:
  variables:
    NS: bedrock-prod
    ENVIRONMENT_URL: https://www.mozilla.org
  trigger:
    include: .gitlab/environment_tests.yml

bedrock-test: set image to mozmeao/bedrock:3d1b093737a2a9dd132adc6a0fdc729fcd6126de in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:0b19d5173fcb362c4f5fa91e73f2ce94a025d1d5 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

change to trigger pipeline, let's try ie in remote
  .gitlab/environment_tests.yml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

testing if we can run minimal tests against a whole environment
  .gitlab/environment_tests.yml
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

removing sanity from per deployment tests, adding sanity for as many browsers as possible
  .gitlab/deployment_tests.yml
  .gitlab/environment_tests.yml
  .gitlab/gitlab_jobs.yml
Due: test-download-remote

change
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

reverting ie to use saucelabs
  .gitlab/environment_tests.yml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-test: set image to mozmeao/bedrock:fd1fcc6405c326483dd9104f3037bd172965cd87 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-test: set image to mozmeao/bedrock:b426169f3c6df35186518a4101c7eb0affd06c7a in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-test: set image to mozmeao/bedrock:47924a7c7a9386a5446186570447e16401807766 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-test: set image to mozmeao/bedrock:db73dd3c43d546f3cf5682689800d8f99cfb04e9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-test: set image to mozmeao/bedrock:eac70bbd7a36b778e520e8189b81d985bcb2e5a2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:f913bdd6af113eaaf6944f02f5bfd53ec1243d5b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-test: set image to mozmeao/bedrock:728bea54e48626b4bec4226f731e61f182894cd8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:1f2353e33d6067d3b0d88d4e31f0cb88447571fa in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-dev: set image to mozmeao/bedrock:9b29dd8d1e393218b6d9e0563c3b06ff3b7d03d7 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-dev: set image to mozmeao/bedrock:4deaca396d96e7b226a608d4d26ad0b2e6feac18 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-test: set image to mozmeao/bedrock:995cce9ab7764955181a2c3df77b2f69e0ab667f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-test: set image to mozmeao/bedrock:38509eaf5c57977375f1e31833681eef2ae5ca03 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:385f249d16ca6213fa68b71ec4398369cd725f55 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-dev: set image to mozmeao/bedrock:879c0110ca93f6925b50a1853716f43bf63d7db4 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-dev: set image to mozmeao/bedrock:e2f69a035a1a8710588101aa6bb238610a921078 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-dev: set image to mozmeao/bedrock:bf501f3ab30611e902124f3d512a9e3faae66958 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-dev: set image to mozmeao/bedrock:009b46919cdc0231fcfafa6fd5960e7ac815b492 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-dev: set image to mozmeao/bedrock:61bbeeeb49b596fd4b3ef90cef117b5900c698c1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-test: set image to mozmeao/bedrock:ea8587e11641e2879f32aac5185d57a7118dbe2f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-test: set image to mozmeao/bedrock:dfe4bcf5e56542610d73bf977c6c938ea161b74e in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:54df117e5f063951f1bf51185b87ed04289d637f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-test: set image to mozmeao/bedrock:46a767d99662f77d7aa7d7342d3e186c624b87e8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:2f04108fecf8b0918606d2f2f8c201112e750087 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-stage: set image to mozmeao/bedrock:2f04108fecf8b0918606d2f2f8c201112e750087 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: deploy-stage-iowa, stage-iowa-tests, stage-tests, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:2f04108fecf8b0918606d2f2f8c201112e750087 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-iowa, deploy-prod-frankfurt, prod-iowa-tests, prod-frankfurt-tests, prod-tests, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:fb5ae832b4fad7005eaf8bf1a8e45adee564f02d in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-dev: set image to mozmeao/bedrock:6a08c876f65924651554decc57b849c00874b4e7 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-test: set image to mozmeao/bedrock:230d3446f17beb21285c029fdd459e3e3e9cc5f2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-test: set image to mozmeao/bedrock:437ddbe279d1e5a2a915082773fef05512fec02a in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:e4288e08a8667924bca5ffabd478d983791d17b0 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-dev: set image to mozmeao/bedrock:9c3ddb5d3bfc83e523fd05e75e808f5740b602c2 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-dev: set image to mozmeao/bedrock:6ce73dfac5654304ff0f51052be64eebeb488e83 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: deploy-dev-iowa, dev-iowa-tests, dev-tests

bedrock-test: set image to mozmeao/bedrock:712deb1b3ccd79cc964cdee0e9bd040d09e9c466 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-test/deploy.yaml
Due: deploy-test-iowa, test-iowa-tests, test-tests, test-download-remote

Path conditions:
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  dev-iowa-tests: any of: iowa-a/bedrock-dev/*
  dev-tests: any of: iowa-a/bedrock-dev/*
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  test-iowa-tests: any of: iowa-a/bedrock-test/*
  test-tests: any of: iowa-a/bedrock-test/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  stage-iowa-tests: any of: iowa-a/bedrock-stage/*
  stage-tests: any of: iowa-a/bedrock-stage/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  deploy-prod-frankfurt: any of: mozmeao-fr/bedrock-prod/*
  prod-iowa-tests: any of: iowa-a/bedrock-prod/*
  prod-frankfurt-tests: any of: mozmeao-fr/bedrock-prod/*
  prod-tests: any of: mozmeao-fr/bedrock-prod/*, iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)
