Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

dev-deploy:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - iowa-c
  retry: 2

dev-test-chrome:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download and not skip_if_not_firefox
  ...

dev-test-firefox:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download and not skip_if_firefox
  ...

dev-test-firefox-local:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: Remote
    MARK_EXPRESSION: not headless and not download and not skip_if_firefox
  ...

dev-test-headless:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
    TEST_IMAGE: mozmeao/bedrock_test:2548474d290db475dcdca0b612478bc95ff5c533
    PYTEST_PROCESSES: '4'
  ...

dev-test-edge:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download and not skip_if_not_firefox
  ...

dev-test-ie:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: smoke or sanity
    TEST_IMAGE: mozmeao/bedrock_test:2548474d290db475dcdca0b612478bc95ff5c533
  ...

oregon-b-test-deploy:
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - mozmeao
  - aws
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
  retry: 2

oregon-b-test-chrome:
  tags:
  - mozmeao
  - aws
  variables:
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download and not skip_if_not_firefox
  ...

oregon-b-test-firefox:
  tags:
  - mozmeao
  - aws
  variables:
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download and not skip_if_firefox
  ...

bedrock-dev: set image to mozmeao/bedrock:a60da6c1d252004217c243bf727f4569c49f9215 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-prod: set image to mozmeao/bedrock:6ad5064415044018b1ac48cb09e195b1fc42f9cc in frankfurt iowa-a
  .gitlab-ci.yml
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-stage: set image to mozmeao/bedrock:d5915586c6ba794a74594dbe9269d1de9c375aed in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-dev: set image to mozmeao/bedrock:d5915586c6ba794a74594dbe9269d1de9c375aed in iowa-a
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:3d88ee60c7b0e77e6108e2800bdd4bdafa06eccc in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-prod: set image to mozmeao/bedrock:d5915586c6ba794a74594dbe9269d1de9c375aed in frankfurt iowa-a
  .gitlab-ci.yml
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:2b2da2123dcc1b10835dd86020ae81fcbaa1c33b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:29a48e7b850c9ed18aa34f176e60c011947be560 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:bef4d6ea7c1d1f9784ccebebe8438871ef17ab8b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:f1910d6ea8ade600b3491ab76db032d4097b9597 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:e2bdc06403c29072b482b963c3846672344c3541 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:e2bdc06403c29072b482b963c3846672344c3541 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-test: set image to mozmeao/bedrock:21387786ed24fac7bd5d6fc7641e38c9a728a8b7 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-firefox-local, oregon-b-test-headless, oregon-b-test-edge, oregon-b-test-ie, oregon-b-test-ie9

Enable unfck experimentation on stage
  waffle_configs/bedrock-stage.env
Due: none

Switch UTI phase 2 on
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

Switch UTI phase 2 on
  waffle_configs/bedrock-prod.env
Due: none

bedrock-prod: set image to mozmeao/bedrock:e2bdc06403c29072b482b963c3846672344c3541 in frankfurt iowa-a
  .gitlab-ci.yml
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:d61c05d1acd661263d7644d7102a50fec00ce21f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:da4d289f5855ab2500367206a5f53ce5bb0cc9c9 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:f727dcbb0b7e52e9a7df68a17ace63cc7987f0ba in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Enable unfck A/B test on prod
  waffle_configs/bedrock-prod.env
Due: none

bedrock-dev: set image to mozmeao/bedrock:0c9f5426b03d1d6da628f5c6ece9be6927ebe43f in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:0c9f5426b03d1d6da628f5c6ece9be6927ebe43f in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-prod: set image to mozmeao/bedrock:0c9f5426b03d1d6da628f5c6ece9be6927ebe43f in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

bedrock-dev: set image to mozmeao/bedrock:cc0f56d5136c1d95d26ad4537266b03d792cfa6b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Switch Daylight banners
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

bedrock-dev: set image to mozmeao/bedrock:d68bedfd8248a5b0cc7660cc6f9499e079c4e063 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-dev: set image to mozmeao/bedrock:881f85ceceac17568056d42ba1151e720d9e3ed1 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Add CrossBrowserTesting
  .gitlab-ci.yml
  bin/acceptance-tests.sh
Due: none

bedrock-dev: set image to mozmeao/bedrock:1d3c1f2a3c4d9b4d5413a4c9f929ec6bce34fdd6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

bedrock-stage: set image to mozmeao/bedrock:2528f4ccedd85dd62f5bf7f862b39ea40d49e82c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-prod: set image to mozmeao/bedrock:2528f4ccedd85dd62f5bf7f862b39ea40d49e82c in frankfurt iowa-a
  frankfurt/bedrock-prod/daemonset.yaml
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-firefox-local, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

Update stage media URL to be relative for CDN testing
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-firefox-local, stage-test-headless, stage-test-ie, stage-test-ie9

bedrock-dev: set image to mozmeao/bedrock:90900f800caab783d52420795efe8e6e4dbeb1d5 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Use local Selenium grid for Firefox, Chrome.
  .gitlab-ci.yml
  bin/acceptance-tests.sh
  bin/cleanup_after_functional_tests.sh
  docker-compose.yml
Due: none

bedrock-dev: set image to mozmeao/bedrock:92186df9456736665bb2d95f1488cc9baa413032 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Expire dotenv artifacts in a week.
  .gitlab-ci.yml
Due: none

bedrock-dev: set image to mozmeao/bedrock:fab3573806fc12c54f6c07e959140d186a1e9a73 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-firefox, dev-test-firefox-local, dev-test-headless, dev-test-edge, dev-test-ie

Don't cleanup if no tests run.
  bin/cleanup_after_functional_tests.sh
Due: none

Path conditions:
  dev-deploy: any of: iowa-a/bedrock-dev/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-firefox-local: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-edge: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  oregon-b-test-deploy: any of: oregon-b/bedrock-test/*
  oregon-b-test-chrome: any of: oregon-b/bedrock-test/*
  oregon-b-test-download: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox-local: any of: oregon-b/bedrock-test/*
  oregon-b-test-headless: any of: oregon-b/bedrock-test/*
  oregon-b-test-edge: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie9: any of: oregon-b/bedrock-test/*
  prod-frankfurt-deploy: any of: frankfurt/bedrock-prod/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-deploy: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-download: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox-local: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-deploy: any of: iowa-a/bedrock-stage/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-firefox-local: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*
