Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

deploy-test-iowa:
  stage: deploy
  script:
  - if [ -f "${DEPLOYMENT}/${INGRESSFILENAME}" ]; then ./${DEPLOYMENT}/${INGRESSFILENAME} ; fi
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  variables:
    INGRESSFILENAME: ingress-controller.sh
  ...

deploy-dev-iowa:
  stage: deploy
  script:
  - if [ -f "${DEPLOYMENT}/${INGRESSFILENAME}" ]; then ./${DEPLOYMENT}/${INGRESSFILENAME} ; fi
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  variables:
    INGRESSFILENAME: ingress-controller.sh
  ...

deploy-stage-iowa:
  stage: deploy
  script:
  - if [ -f "${DEPLOYMENT}/${INGRESSFILENAME}" ]; then ./${DEPLOYMENT}/${INGRESSFILENAME} ; fi
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  variables:
    INGRESSFILENAME: ingress-controller.sh
  ...

deploy-prod-frankfurt:
  stage: deploy
  script:
  - if [ -f "${DEPLOYMENT}/${INGRESSFILENAME}" ]; then ./${DEPLOYMENT}/${INGRESSFILENAME} ; fi
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  variables:
    INGRESSFILENAME: ingress-controller.sh
  ...

deploy-prod-iowa:
  stage: deploy
  script:
  - if [ -f "${DEPLOYMENT}/${INGRESSFILENAME}" ]; then ./${DEPLOYMENT}/${INGRESSFILENAME} ; fi
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  - echo "BASE_URL=${BASE_URL}" > build.env
  retry: 2
  variables:
    INGRESSFILENAME: ingress-controller.sh
  ...

test-download-remote:
  stage: test
  script: bin/acceptance-tests.sh
  tags:
  - mozmeao
  - aws
  after_script:
  - bin/cleanup_after_functional_tests.sh
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    when: on_failure
    expire_in: 1 week
    paths:
    - results-${CI_JOB_ID}
  variables:
    MARK_EXPRESSION: download
  ...

bedrock-test: set image to mozmeao/bedrock:a473b3d5dedc659a057ed1bbe8a455fbb59b9049 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:ef77ecb694c8fab160a07ee386d4c108f67b10be in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:b4048f8314d30db46461a854722b2118140b3746 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:8f68a6294547de726cca22cd1d70ca5a6ef82413 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:6e3adc31e3ff980319aca5f456cb37a4906e3288 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:e747bfdb052b3a40bc965f8feb060f1f80ff39fb in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:ab9bfdc7a2545f420ce1e9914861bcf250e4bca2 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:e8d76ddf44ccd6b0321cae342b064fb100c662ea in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:66a86804465a4f12b30ac5ebe71bfd93bc3bc3dc in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:66a86804465a4f12b30ac5ebe71bfd93bc3bc3dc in iowa-a
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:66a86804465a4f12b30ac5ebe71bfd93bc3bc3dc in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:9abcf73cfb4074c1e057ff5ebc7ab208bec5f2cf in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:494bd41fd96578df472f8b081f6acae22351d34d in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:6ba81424f014513bbd7b6aebd6b8a09a6a36ec4d in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-stage: set image to mozmeao/bedrock:494bd41fd96578df472f8b081f6acae22351d34d in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:494bd41fd96578df472f8b081f6acae22351d34d in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:defa087c3c849823eedd09f5ec34473bb6f6ba89 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-stage: set image to mozmeao/bedrock:caf24e8c08361f0bdab2deebbcd81691b4aff5b9 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:caf24e8c08361f0bdab2deebbcd81691b4aff5b9 in iowa-a
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-prod: set image to mozmeao/bedrock:caf24e8c08361f0bdab2deebbcd81691b4aff5b9 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:ff877ef1a782ac3c3b17bb2196a4889db670dc21 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:ff877ef1a782ac3c3b17bb2196a4889db670dc21 in iowa-a
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:ff877ef1a782ac3c3b17bb2196a4889db670dc21 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Disable VPN + Relay bundle on dev/stage/prod
  waffle_configs/bedrock-dev.env
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:49b5d1252850077cebdd2fa3586b22e59cf59884 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:0a605608ab9e4d7d39ce17c547d08e062d3a636f in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:0a605608ab9e4d7d39ce17c547d08e062d3a636f in iowa-a
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:ce3c149e22c6b7768d380126cfee507c03cb992f in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:a9a2f04b91381662b1b263be2862ba65cc01c415 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:a9a2f04b91381662b1b263be2862ba65cc01c415 in iowa-a
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:a9a2f04b91381662b1b263be2862ba65cc01c415 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Turn on newsletter maintenance mode for stage
  waffle_configs/bedrock-stage.env
Due: test-download-remote

Add newsletter maintenance mode switch to dev waffle
  waffle_configs/bedrock-dev.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:a44bc08e72f726467e8caae1dc8908265e5d815a in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:9b5fbb63e0f81ec8f35eb8328207e3ecd3567d9a in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:4bfe9a1bbb3bb54df656dde0f7039c3e8a5969c0 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:564fb32b54997f4eded98ad058efb72e6640184b in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

chore: Turn down bedrock in iowa-a
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/hpa.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/hpa.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/hpa.yaml
  iowa-a/bedrock-test/deploy.yaml
  mozmeao-fr/bedrock-prod/helm_configs/ingress.yml
Due: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-iowa

bedrock-dev: set image to mozmeao/bedrock:bfc6b3a20199fb9020189966407a364efa356dc8 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: mozmeao-fr/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)
