Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: mozmeao-fr/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)

bedrock-dev: set image to mozmeao/bedrock:d0072b392b63deff370f06ef357dccc00fbf0735 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:6fb6f4a8954a456af022358d70b00a52690819c3 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:d0072b392b63deff370f06ef357dccc00fbf0735 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:d0072b392b63deff370f06ef357dccc00fbf0735 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-stage: set image to mozmeao/bedrock:6fb6f4a8954a456af022358d70b00a52690819c3 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:6fb6f4a8954a456af022358d70b00a52690819c3 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:b583735669f47b473c6998ed243e588edc6ddfe9 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:bb4ff04d1bedea95de455ab0d89437c8c002e3f4 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:636b2fe56b3f6fa8246e80d9e96ad497bc01d192 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:636b2fe56b3f6fa8246e80d9e96ad497bc01d192 in iowa-a
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:636b2fe56b3f6fa8246e80d9e96ad497bc01d192 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:c6a11db5740d2aaaf2ed7da5a3610ad7f730069e in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:6ebeb5e2692fe86961f0063ea0db7f008788cf1b in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:919844f0a70bebf9efad9f6f43b2709239d2f298 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:409d24b92572e19fce27e1bca8d0dd1cdbeda4da in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:47beec4c9625f3513ff2f200ba2eb6dc21d21d9c in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:38dc1dd7874c94d6fe93e63a7c2d4b74d560b7d6 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:dc24dd4ac99488aa02f7901963a6f3f818eaf698 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:6c881dd4b1f6ebe92550963af5ca200bca4258a9 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:fc5e78dfaa8881835e543e2e438972c9c4c481ec in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:fc5e78dfaa8881835e543e2e438972c9c4c481ec in iowa-a
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:fc5e78dfaa8881835e543e2e438972c9c4c481ec in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:fd7307b11f22cf4fccdec7a32ea8d1c7264b3a0f in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:70589eb405c78e0712cb215be9b039deae75f024 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:cecb853296cd42897ba627f6d0310fc05c4de92a in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:d983777d72ae2b17f81f1c8287b2cdd96646684b in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:0af4c77188658407aaf6a800d8cf9323e18c15ad in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:f0ff6e0d61197898e7169d4336882fe57e74b1ac in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:1c2a8495736e40cd93e341ddb66e22e3fcbe7cff in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:1c2a8495736e40cd93e341ddb66e22e3fcbe7cff in iowa-a
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:66e234f8957565454401a818db2d3c6fa16dbd92 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:1c2a8495736e40cd93e341ddb66e22e3fcbe7cff in mozmeao-fr iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:67e000c33d988eaa0b8913806881f2b75e9cc88a in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:67e000c33d988eaa0b8913806881f2b75e9cc88a in iowa-a
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:67e000c33d988eaa0b8913806881f2b75e9cc88a in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:5f6a80446d5d474ca776a8d2758cac8612a412b4 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

Activate DE and EN experiments for WNP 110
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:2af46322d2d7b9a5008f2a35faca67c8c2947e84 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:63db419f0af3138e262009c511b2b301e6ff3ce1 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa
