Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie, oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

dev-deploy:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - iowa-c
  retry: 2

dev-test-chrome:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test:246b331bbc81529dbd435387b4fb1f891493595a
  ...

dev-test-download:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: download
    TEST_IMAGE: mozorg/bedrock_test:246b331bbc81529dbd435387b4fb1f891493595a
    PYTEST_PROCESSES: '4'
  ...

dev-test-firefox:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test:246b331bbc81529dbd435387b4fb1f891493595a
  ...

dev-test-headless:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: headless
    TEST_IMAGE: mozorg/bedrock_test:246b331bbc81529dbd435387b4fb1f891493595a
    PYTEST_PROCESSES: '4'
  ...

dev-test-ie:
  variables:
    BASE_URL: https://bedrock-dev.gcp.moz.works
    DEPLOYMENT: iowa-a/bedrock-dev
    KUBECONFIG: /home/gitlab-runner/.kube/iowa-a.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
    TEST_IMAGE: mozorg/bedrock_test:246b331bbc81529dbd435387b4fb1f891493595a
  ...

oregon-b-test-deploy:
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - bin/rollout-status.sh ${DEPLOYMENT}
  stage: deploy
  tags:
  - oregon-b-shell
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
  retry: 2

oregon-b-test-chrome:
  tags:
  - oregon-b-shell
  variables:
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: SauceLabs
    MARK_EXPRESSION: not headless and not download
  ...

oregon-b-test-download:
  tags:
  - oregon-b-shell
  variables:
    BASE_URL: https://bedrock-test.moz.works
    DEPLOYMENT: oregon-b/bedrock-test
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DRIVER: ''
    MARK_EXPRESSION: download
    TEST_IMAGE: mozorg/bedrock_test:246b331bbc81529dbd435387b4fb1f891493595a
  ...

set image to mozmeao/bedrock:master-8512ac882b7287fbd98f3682610bf5df3193c5db in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Change docker hub repos org from mozorg to mozmeao
  .gitlab-ci.yml
  bin/acceptance-tests.sh
  docs/index.md
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie, prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9, stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

set image to mozmeao/bedrock:master-c76377d960aebfa52baffee6398e52e866b89bdd in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozmeao/bedrock:c8008c40c35262db5636bcf3fac66b85394ff049 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozmeao/bedrock:run-integration-tests-b0c849b1e45cb11ddab0a4b883dabedd47350743 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozmeao/bedrock:master-abd513ae2df22d910eb2b9d958a9095e2eacfc0e in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozmeao/bedrock:run-integration-tests-6b9b294b0b2a400eb5b8d364b3b872cd967a910f in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozmeao/bedrock:4b4a2d3d0e2681e577a3618c3701fa6f8ed9f9e4 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozmeao/bedrock:master-6c075339afc0335ba4661023b5086dad69a84ff6 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Bump initialDelaySeconds for bedrock-test
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozmeao/bedrock:run-integration-tests-79a5c7eac2a210b42a1dab649430430d05433796 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozmeao/bedrock:run-integration-tests-f5108df03ccd7f59caf6557351946d95d9b4667f in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozmeao/bedrock:master-89b8a79a421ef0e640522c8525689cb61be6c0e3 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozmeao/bedrock:master-374fdb4df7eb1337b362b839419bf8ecb0e4687c in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozmeao/bedrock:master-0faf9bbd61aa9b88fbff7329e93f6b3b14b83e20 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozmeao/bedrock:328900f9531651120e1b66df071c7795f714fa72 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozmeao/bedrock:master-a2cb3c08aeb2f7504b893adfa6625f92fb7b6083 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozmeao/bedrock:master-9ead162ce56408d3e6a42a54bb91d501eb61f1f8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Fix indentation in .gitlab-ci.yaml
  .gitlab-ci.yml
Due: none

set image to mozmeao/bedrock:run-integration-tests-0faf9bbd61aa9b88fbff7329e93f6b3b14b83e20 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

Fix edge browser name
  .gitlab-ci.yml
Due: none

Add Edge to test runs for dev
  .gitlab-ci.yml
Due: none

set image to mozmeao/bedrock:stage-9ead162ce56408d3e6a42a54bb91d501eb61f1f8 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/deploy.yaml
Due: stage-deploy, stage-test-chrome, stage-test-download, stage-test-firefox, stage-test-headless, stage-test-ie, stage-test-ie9

Activate WNP77 video for zh-CN
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

set image to mozmeao/bedrock:prod-9ead162ce56408d3e6a42a54bb91d501eb61f1f8 in frankfurt iowa-a
  frankfurt/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/deploy.yaml
Due: prod-frankfurt-deploy, prod-frankfurt-test-headless, prod-iowa-a-deploy, prod-iowa-a-test-chrome, prod-iowa-a-test-download, prod-iowa-a-test-firefox, prod-iowa-a-test-headless, prod-iowa-a-test-ie, prod-iowa-a-test-ie9

Activate WNP77 video for zh-CN (#268)
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: none

set image to mozmeao/bedrock:master-9201c503da60f249b74cc8d802d37f1cdf5849dc in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozmeao/bedrock:master-a1156b2953b5c9d8a54241c85dc15baddc428f85 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozmeao/bedrock:master-349a5858802f9beeee19165f308885926f6a94da in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozmeao/bedrock:master-92e9bd2f612c05f5610e2242485c2ecd1d65d209 in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Add a DaemonSet for bedrock-dev data update
  .editorconfig
  iowa-a/bedrock-dev/daemonset.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Add securityContext to volume for data DaemonSet
  iowa-a/bedrock-dev/daemonset.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Store daemonset data in a local folder for now
  iowa-a/bedrock-dev/daemonset.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Update data directory in daemonset
  iowa-a/bedrock-dev/daemonset.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

set image to mozmeao/bedrock:run-integration-tests-47b1746100e64b5405bdb01d11d1905d0487b947 in oregon-b
  .gitlab-ci.yml
  oregon-b/bedrock-test/deploy.yaml
Due: oregon-b-test-deploy, oregon-b-test-chrome, oregon-b-test-download, oregon-b-test-firefox, oregon-b-test-headless, oregon-b-test-ie

set image to mozmeao/bedrock:master-b5273aa16bb1ca8597e630c2662ee654f2299c5b in iowa-a
  .gitlab-ci.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/deploy.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Run data update daemonset as root
  iowa-a/bedrock-dev/daemonset.yaml
Due: dev-deploy, dev-test-chrome, dev-test-download, dev-test-firefox, dev-test-headless, dev-test-ie

Path conditions:
  dev-deploy: any of: iowa-a/bedrock-dev/*
  dev-test-chrome: any of: iowa-a/bedrock-dev/*
  dev-test-download: any of: iowa-a/bedrock-dev/*
  dev-test-firefox: any of: iowa-a/bedrock-dev/*
  dev-test-headless: any of: iowa-a/bedrock-dev/*
  dev-test-ie: any of: iowa-a/bedrock-dev/*
  oregon-b-test-deploy: any of: oregon-b/bedrock-test/*
  oregon-b-test-chrome: any of: oregon-b/bedrock-test/*
  oregon-b-test-download: any of: oregon-b/bedrock-test/*
  oregon-b-test-firefox: any of: oregon-b/bedrock-test/*
  oregon-b-test-headless: any of: oregon-b/bedrock-test/*
  oregon-b-test-ie: any of: oregon-b/bedrock-test/*
  prod-frankfurt-deploy: any of: frankfurt/bedrock-prod/*
  prod-frankfurt-test-headless: any of: frankfurt/bedrock-prod/*
  prod-iowa-a-deploy: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-chrome: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-download: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-firefox: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-headless: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie: any of: iowa-a/bedrock-prod/*
  prod-iowa-a-test-ie9: any of: iowa-a/bedrock-prod/*
  stage-deploy: any of: iowa-a/bedrock-stage/*
  stage-test-chrome: any of: iowa-a/bedrock-stage/*
  stage-test-download: any of: iowa-a/bedrock-stage/*
  stage-test-firefox: any of: iowa-a/bedrock-stage/*
  stage-test-headless: any of: iowa-a/bedrock-stage/*
  stage-test-ie: any of: iowa-a/bedrock-stage/*
  stage-test-ie9: any of: iowa-a/bedrock-stage/*
