Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: mozmeao-fr/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)

bedrock-prod: set image to mozmeao/bedrock:9befc257f8e8610c5bfe91298a8a90452f6de163 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:b7933f858f0d19f5176a462b3f474c924700da2a in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:a8523ab46362e64f81808f3b0626f2615c963b0f in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:b17801171ce58277c973b31ee01f2974633052da in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:e88055382e3bba4c05306493b90983f51e6fc1df in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:e88055382e3bba4c05306493b90983f51e6fc1df in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:e88055382e3bba4c05306493b90983f51e6fc1df in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:ce999ec0462dac978feb8e5046a05080c5201004 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:e3ad95be5ad7114bc9b345d2b453682000d36c21 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

add swicthes for firefox family promo
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

update switch name
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:48b88d3596b72e5a31ec9a879f99657da569541d in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

Enable Firefox for Families promo on homepage (#478)
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-stage: set image to mozmeao/bedrock:48b88d3596b72e5a31ec9a879f99657da569541d in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:48b88d3596b72e5a31ec9a879f99657da569541d in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Enable WNP 105 EU experiment on stage
  waffle_configs/bedrock-stage.env
Due: test-download-remote

Enable WNP 105 EU experiment on prod
  waffle_configs/bedrock-prod.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:490b51764df728e34054065480d8653f1153ebd1 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:d3077ef05972d45bfd9d51f05d100b3d6b0ea940 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:20d2ed1d493b6ec0cfd60cd783ddd6bf5a7bde89 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:e87d6e4b83931f9c8a2228c01b290bdd24fdb786 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:79fbeb621a6283d59cb221d325dffa5e7a23d8f3 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:03347859a26072e7a14306696585c933ff2566e6 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:945dbe445b83a99131de63812f60121fac32dadc in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:945dbe445b83a99131de63812f60121fac32dadc in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:945dbe445b83a99131de63812f60121fac32dadc in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-test: set image to mozmeao/bedrock:3440b2e3dbffde2b4a791baa236f271b632468ab in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:878ee979a85107fd77c79e6bcdc011b722976997 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:62732fdb9b5d1e85b5d989e662516e93baba01b2 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:b1bcfadf5b49b84e534bf8a5f7da45f82e24ef9b in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:71dfb56614db647e8710f85ccc6c89c80f7af517 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:71dfb56614db647e8710f85ccc6c89c80f7af517 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:71dfb56614db647e8710f85ccc6c89c80f7af517 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Activate Pocket EU banner
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:2663448f52405795942ab4d2ff8061037ffb53e7 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

Activate Pocket EU banner (#479)
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-stage: set image to mozmeao/bedrock:2663448f52405795942ab4d2ff8061037ffb53e7 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:2663448f52405795942ab4d2ff8061037ffb53e7 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:1942993280ba223c386072501adfb5b3c0e7ac5d in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:b98119de40e6281f0bdd1c257a935cf606f6570a in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa
