Repository mozmeao/www-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-test-iowa, deploy-dev-iowa, deploy-stage-iowa, deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

Path conditions:
  deploy-test-iowa: any of: iowa-a/bedrock-test/*
  deploy-dev-iowa: any of: iowa-a/bedrock-dev/*
  deploy-stage-iowa: any of: iowa-a/bedrock-stage/*
  deploy-prod-frankfurt: any of: mozmeao-fr/bedrock-prod/*
  deploy-prod-iowa: any of: iowa-a/bedrock-prod/*
  test-download-remote: not (any of: iowa-a/bedrock-dev/*)

bedrock-dev: set image to mozmeao/bedrock:ce0845952edc15421683736a3c8ca86192586d17 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:d9eb2b15b62afa810baca4e15e0903075c94c58b in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:d9eb2b15b62afa810baca4e15e0903075c94c58b in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:d9eb2b15b62afa810baca4e15e0903075c94c58b in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:591fc21e3209219c5dc8078ccfcc08c874801c4c in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

switched banner off
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

feature(mirroring): Use github actions for mirroring
  .github/workflows/gitlab-mirror.yml
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:81f697cb808ea7317b680bfac16d1aae09dc514c in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:81f697cb808ea7317b680bfac16d1aae09dc514c in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

chore(mirroring): Pin to 0.6.0
  .github/workflows/gitlab-mirror.yml
Due: test-download-remote

chore(mirroring): Use a sha
  .github/workflows/gitlab-mirror.yml
Due: test-download-remote

chore(mirroring): Use the full sha
  .github/workflows/gitlab-mirror.yml
Due: test-download-remote

bedrock-dev: set image to mozmeao/bedrock:eae84073c4406428a12cf034ded5d0b5561f5dad in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:5111af0e8de96a5169f045b18161746d9345f0dd in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

Enable Firefox 103 taskbar message on /thanks/
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

bedrock-stage: set image to mozmeao/bedrock:e55aa5565bb97da4f458588f8dc792151c50db94 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:e55aa5565bb97da4f458588f8dc792151c50db94 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:e879a54a84be9f780dbfb555d2278aea03290b66 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:fee954ac45f750791bd61f407dbfff1218929f84 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:678b75aa654176cd063bac192a632c1bce32cbb0 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:bb05b298c78e0129f8dc5baa17c4b292d50b3d36 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:d4920b3fa7ae9ccc133d1668a1754a148303e736 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-test: set image to mozmeao/bedrock:2f340d6fe52863af5ac06fef3a8b99dc7c4465fc in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-test/deploy.yaml
  iowa-a/bedrock-test/pocket-deploy.yaml
Due: deploy-test-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:63f220bbd8132a3555db2fc373ea2b717c8e8142 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:63f220bbd8132a3555db2fc373ea2b717c8e8142 in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:63f220bbd8132a3555db2fc373ea2b717c8e8142 in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:1c0f0fadc3b54b510e640dfeccf18bc03190431a in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-dev: set image to mozmeao/bedrock:83cd09719c76823280b959ec37cdc01ea1cc429c in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

bedrock-stage: set image to mozmeao/bedrock:83cd09719c76823280b959ec37cdc01ea1cc429c in iowa-a
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:83cd09719c76823280b959ec37cdc01ea1cc429c in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-stage: set image to mozmeao/bedrock:84ef925de82073d1486503046dce16720774456a in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-stage/clock-deploy.yaml
  iowa-a/bedrock-stage/daemonset.yaml
  iowa-a/bedrock-stage/deploy.yaml
  iowa-a/bedrock-stage/pocket-deploy.yaml
Due: deploy-stage-iowa, test-download-remote

bedrock-prod: set image to mozmeao/bedrock:84ef925de82073d1486503046dce16720774456a in mozmeao-fr iowa-a
  iowa-a/bedrock-prod/clock-deploy.yaml
  iowa-a/bedrock-prod/daemonset.yaml
  iowa-a/bedrock-prod/deploy.yaml
  iowa-a/bedrock-prod/pocket-deploy.yaml
  mozmeao-fr/bedrock-prod/daemonset.yaml
  mozmeao-fr/bedrock-prod/deploy.yaml
Due: deploy-prod-frankfurt, deploy-prod-iowa, test-download-remote

bedrock-dev: set image to mozmeao/bedrock:88296ac8c05ec012de87ce79cc6d8f519aa71634 in iowa-a
  .gitlab/gitlab_jobs.yml
  iowa-a/bedrock-dev/clock-deploy.yaml
  iowa-a/bedrock-dev/daemonset.yaml
  iowa-a/bedrock-dev/deploy.yaml
  iowa-a/bedrock-dev/pocket-deploy.yaml
Due: deploy-dev-iowa

Activate WNP 103 experiment
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote

Activate WNP 103 experiment (#475)
  waffle_configs/bedrock-prod.env
  waffle_configs/bedrock-stage.env
Due: test-download-remote
